/backend/build/
/backend/.gradle/
/backend/HELP.md

/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
/backend/bin/
/backend/out/

/backend/.idea/
/backend/*.iws
/backend/*.iml
/backend/*.ipr

/backend/.vscode/

/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/

/backend/*.jar


/frontend/.DS_Store
/frontend/node_modules
/frontend/dist

/frontend/.env.local
/frontend/.env.*.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

/frontend/.idea
/frontend/.vscode
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
